.home-container {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.home-content {
    padding-top: 118px;
    padding-left: 100px;
    padding-bottom: 150px;
}

.text-title {
    font-size: 50px;
    line-height: 65px;
    letter-spacing: -0.02em;
}

.text-subtitle {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin-top: 30px;
    margin-bottom: 50px;
}