.btn-icon {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    text-transform: uppercase;
    background: #1890FF;
    align-items: center;
    border: none;
    color: #FFF;
    display: flex;
    justify-content: center;
    cursor: pointer;
}