.base-form {
    padding: 65px 480px 42px 95px;
    background: #E6F7FF;
    margin-left: 90px;
    margin-top: 55px;
    margin-right: 100px;
    border-radius: 16px;
}

.base-form-title {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.base-form-actions {
    margin-top: 25px;
    text-align: left;
    width: 50px;
}